@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&subset=latin-ext');

body {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    position: relative;
    color: #000;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.nopadding {
    padding: 0 !important;
}

#main-menu {
    background: #fff;
    border: none;
    padding: 0;
    margin: 0;
    border-bottom: 4px solid #F7F9FB;
}

#main-menu .navbar-brand {
    padding: 0;
    height: 84px;
    position: relative;
    margin-left: 0;
}

#main-menu .dropdown-menu > li > a {
    background-color: white;
}

#main-menu .dropdown-menu > li:first-child > a {
    border-radius: 3px 3px 0 0;
}

#main-menu .dropdown-menu > .active > a,
#main-menu .dropdown-menu > .active > a:hover,
#main-menu .dropdown-menu > .active > a:focus {
    color: #000;
    background-color: white;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    text-transform: none;
}

#yii-debug-toolbar-min img {
    margin-bottom: 0 !important;
}

#easyii-navbar .navbar-nav > li > a {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    color: #B3B8C3;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300;
    line-height: 1.8;
    font-size: 14px;
    text-align: left;
}

.navbar-nav > li > a {
    margin: 20px 0;
}

#easyii-navbar span {
    color: #B3B8C3;
}

#yii-debug-toolbar img {
    margin-bottom: 0 !important;
}

.navbar-brand {
    margin: 0;
    padding: 0;
    height: 70px;
}

.navbar-brand img {
    height: 32px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.affix {
    background-color: rgba(255, 255, 255, 1) !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #000;
}

.navbar-inverse {
    border: none;
}

.navbar-toggle {
    margin-top: 29px;
    border: none;
}

.navbar-inverse .navbar-toggle {
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 19px;
    padding: 0;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:focus .caret,
.navbar-inverse .navbar-nav > li.active > a,
.navbar-inverse .navbar-nav > li > a:hover .caret {
    color: #000;
}

.navbar-inverse .navbar-nav > li > a {
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    font-weight: normal;
    color: #007BFF;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.navbar-inverse .navbar-nav li.login a {
    background-color: #007BFF;
    border-radius: 5px;
    color: #fff;
    padding: 8px 12px !important;
    margin-left: 16px;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
    border: 2px solid #007BFF;
}

.navbar-inverse .navbar-nav li.login a:hover {
    color: #007BFF;
    background-color: #fff;
    border: 2px solid #007BFF;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.navbar-inverse .navbar-nav > li > a:hover, .cabinet-menu a:hover {
    color: #3195FF;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.navbar-inverse .navbar-nav > li > a:hover .caret {
    color: #565454;
}

.navbar-inverse .navbar-nav > li > a:focus {
    outline: none;
    outline-offset: 0;
    overflow: initial;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #3195FF;
}

.tp-caption.custom_theme_big, .tp-caption.custom_theme_very_small {
    color: #000;
}

.btn.btn-default {
    border-radius: 3px;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
}

.btn.btn-default:hover {
    border: none;
    background-color: #2f2d2d;
    color: #fff;
}

.btn:after {
    display: none;
}

#main-menu {
    min-height: 84px;
}

#main-menu.affix {
    padding-top: 0;
}

.navbar-nav > li.open > .dropdown-menu, .open .dropdown-menu {
    border: none;
    border-radius: 5px;
    top: 100px;
    padding: 16px;
    min-width: 350px;
}

.dropdown-content-heading {
    font-weight: bold;
    color: #047afb;
}

#toolbar-notifications i.heading-icon {
    font-size: 18px;
}

li.notification-item .media-annotation {
    font-size: 11px;
    color: #93A0A9;
}

.media-list {
    line-height: 19px;
    margin-top: 20px;
}

.media-list span {
    margin-bottom: 0;
    padding-left: 0;
    border-radius: 0;
}

#toolbar-notifications .media-link i {
    font-size: 32px;
    color: #ea4933;
}

.dropdown-content-footer a {
    display: block;
    padding: 7px;
    text-align: center;
    color: #333;
}

#toolbar-notifications .dropdown-content-footer a {
    padding: 7px 7px 3px 7px !important;
    color: #007BFF;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

#toolbar-notifications .dropdown-content-footer a:hover {
    color: #3294fb;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.icon-menu {
    color: #3294fb;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    min-width: 1em;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dropdown-menu:before {
    border-bottom: 11px solid rgb(4, 122, 251);
    border-left: 11px solid rgba(0, 0, 0, 0);
    border-right: 11px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    margin-left: -60%;
    top: -11px;
}

.dropdown-menu:after {
    border-bottom: 11px solid #FFFFFF;
    border-left: 11px solid rgba(0, 0, 0, 0);
    border-right: 11px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    margin-left: -60%;
    top: -7px;
}

.dropdown-menu > li > a {
    color: #000;
}

.dropdown-menu > li > a:hover {
    color: #565454;
    background-color: #F7F9FB;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #fff;
    color: #000;
}

.navbar-inverse .navbar-nav > li > a.active .underline {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-width: 2px;
    border-color: rgba(233, 65, 77, 1);
}

article img {
    max-width: 100%;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-header {
    position: relative;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 15px;
    height: 1px;
    border-radius: 1px;
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: none;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #000;
    background-color: transparent;
}

.padding {
    padding: 35px 0;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000;
}

.navbar-mobile-rows {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 6px;
}

footer {
    min-height: 176px;
    background-color: #F7F9FB;
    position: absolute;
    bottom: 0;
    z-index: 1000;
}

footer .rights, footer .socials {
    position: relative;
    height: 176px;
}

footer .footer-rights {
    position: absolute;
    bottom: 50px;
    right: 0;
    margin: auto;
    height: 24px;
    color: #93A0A9;
    font-size: 18px;
}

footer .footer-logo img {
    position: absolute;
    bottom: 50px;
    left: 0;
    margin: auto;
    height: 24px;
}

footer .links-block, footer .social-icon-pack {
    position: absolute;
    top: 40px;
    margin: auto;
    height: 24px;
}

footer .links-block {
    left: 0;
}

footer .social-icon-pack {
    right: 0;
}

footer .links-block a {
    color: #93A0A9;
    float: left;
    margin-right: 32px;
    font-size: 18px;
}

footer .socials-block {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: 30px;
}

footer .social-icon:first-child {
    margin-right: 5px;
}

footer .social-icon {
    height: 15px;
    width: 22px;
    float: right;
    margin-left: 24px;
}

.cabinet {
    position: relative;
}

article {
    margin-bottom: 0;
    float: none;
}

.sidebar-right-fixed {
    width: 195px;
    position: fixed;
    z-index: 1;
    top: 145px;
    left: 145px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    overflow-x: hidden;
}

.steps-block.profile {
    max-width: 1170px;
    padding: 15px;
}

.steps-block.error,
.steps-block.questions,
.steps-block.contacts
{
    max-width: 1028px;
    padding: 15px;
}

.content-left-fixed {
    font-size: 28px;
    width: 850px;
    float: right;
    margin-top: 50px;
}

.content-left-fixed .news-item {
    border-radius: 10px;
    box-shadow: 0 3px 15px 0 rgba(0, 60, 125, 0.15);
    margin-bottom: 32px;
}

.content-left-fixed .news-item .image {
    float: left;
    width: 500px;
    height: 350px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.content-left-fixed .news-item .information {
    float: right;
    position: relative;
    width: 350px;
    padding: 32px;
    height: 350px;
}

.content-left-fixed .news-item.first .image {
    height: 380px;
}

.content-left-fixed .news-item.first .information {
    height: 380px;
    padding-bottom: 0;
}

.content-left-fixed .news-item .information .title {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    margin-bottom: 20px;
    font-weight: bold;
}

.content-left-fixed .news-item .information .short {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    margin-bottom: 20px;
    color: #373737;
}

.content-left-fixed .news-item .information .short.item-date {
    color: #93A0A9;
    margin-bottom: 0;
    position: absolute;
    bottom: 72px;
    left: 32px;
}

.content-left-fixed .news-item.first .information .short.item-date {
    bottom: 50px;
}

.content-left-fixed .news-item .information a.short.read-more {
    font-weight: bold;
    color: #007BFF;
    text-align: left;
    display: block;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
    position: absolute;
    bottom: 32px;
    left: 32px;
    margin-bottom: 0;
}

.content-left-fixed .news-item.first .information a.short.read-more {
    bottom: 24px;
}

.content-left-fixed .news-item .information a.short.read-more:hover {
    color: #3195FF;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.cabinet-menu .wrapper {
    background-color: #fff;
    min-height: 166px;
}

.cabinet-menu .menu-link {
    text-align: left;
    color: #93A0A9;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 14px;
    padding-left: 16px;
}

.cabinet-menu .icon {
    height: 40px;
    width: 40px;
    float: left;
    margin-right: 16px;
    position: relative;
}

.cabinet-menu .icon .fa {
    font-size: 32px;
    display: block;
    margin: 0 auto;
    width: 22px;
    line-height: 40px;
    color: #93A0A9;
}

.cabinet-menu .menu-link.active .fa {
    color: #3195FF;
}

.cabinet-menu .icon .new-count {
    position: absolute;
    right: -7px;
    top: -5px;
    line-height: 20px;
    height: 20px;
    width: 20px;
    background-color: #FF6B00;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-size: 12px;
}

.news-item.small {
    width: 409px;
    float: left;
    margin-right: 32px;
}

.news-item.small:nth-child(2n + 1) {
    margin-right: 0;
}

.content-left-fixed .news-item.small .image {
    float: none;
    max-width: 409px;
    max-height: 280px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
}

.content-left-fixed .news-item.small .information {
    float: none;
    display: block;
    position: relative;
    width: 100%;
    min-height: 375px;
}

.cabinet-menu .profile-info {
    margin: 0 auto 30px;
    text-align: center;
    color: #373737;
}

.cabinet-menu .profile-info img {
    display: block;
    margin: 0 auto 10px;
    border-radius: 50%;
    max-width: 150px;
}

.cabinet-menu .profile-info .name {
    font-size: 18px;
    font-weight: bold;
}

.sidebar-right-fixed-bottom-big {
    top: -90px;
}

.content-left-fixed .tasks-item {
    border-radius: 10px;
    box-shadow: 0 3px 15px 0 rgba(0, 60, 125, 0.15);
    margin-bottom: 52px;
}

.content-left-fixed .tasks-item .image {
    float: left;
    width: 220px;
    height: 335px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.content-left-fixed .tasks-item .information {
    float: right;
    width: 620px;
    padding: 32px;
    height: 335px;
}

.content-left-fixed .tasks-item .information .title {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    margin-bottom: 20px;
    font-weight: bold;
}

.content-left-fixed .tasks-item .information .short {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    margin-bottom: 20px;
    color: #373737;
}

.content-left-fixed .tasks-item .information .short.item-date {
    color: #93A0A9;
    margin-bottom: 40px;
}

.content-left-fixed .tasks-item .information a.short.read-more {
    font-weight: bold;
    color: #007BFF;
    text-align: left;
    display: block;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.file-preview {
    margin-bottom: 25px !important;
}

.read-news {
    float: left;
    font-size: 12px;
    padding: 7px;
    background-color: #007BFF;
    margin-bottom: 30px;
}

.media-left, .media-right, .media-body {
    color: #000;
    font-size: 14px;
}

#full-notification-block i {
    font-size: 35px;
    color: #ea4933;
}

#full-notification-block .list-group-item {
    border: none;
    text-align: left;
    padding: 0;
}

#full-notification-block .list-group-item .media-heading {
    font-size: 19px;
}

#full-notification-block .list-group-item .media-heading .media-annotation {
    color: #a8a4aa;
    font-size: 12px;
    font-weight: normal;
}

#full-notification-block .list-group-item .label.bg-success,
span.bg-success,
.label-success {
    background-color: #047afb;
    padding: 7px 12px;
    border-radius: 5px;
}

#full-notification-block, .notification-index #navbar-second {
    padding: 0 32px;
}

.notification-page #notification-action-buttons.navbar-right {
    margin-right: 0 !important;
}

.notification-index .panel-footer, .steps-block.profile .panel-footer {
    border: none;
    background: transparent;
    font-size: 14px;
}

.notification-index .panel-footer span, .steps-block.profile .panel-footer span {
    color: #047afb;
}

.notification-index .panel {
    border: none;
}

.read-news:hover {
    background-color: #3195FF !important;
}

.read-news i {
    margin-right: 5px;
}

.helpers-header {
    display: block;
    margin-bottom: 20px;
}

#notification-action-buttons .navbar-nav > li > a {
    color: #047afb;
    font-size: 14px;
    padding: 15px 11px;
}

#load-more-news {
    padding: 11px;
    font-size: 15px;
    color: #fff;
    background-color: #007BFF;
    border: 2px solid #007BFF;
    border-radius: 5px;
}

#mark-all-news-as-read {
    float: right;
    height: 100%;
    padding: 6px 11px 6px 45px;
    width: 175px;
    font-size: 15px;
    color: #fff;
    background-color: #007BFF;
    border: 2px solid #007BFF;
    border-radius: 5px;
    position: relative;
}

#mark-all-news-as-read:hover, #load-more-news:hover {
    cursor: pointer;
    background-color: #fff;
    color: #007BFF;
}

#mark-all-news-as-read:hover i {
    color: #007BFF;
}

#mark-all-news-as-read i {
    padding: 12px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    line-height: 1;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FF4D00;
}

#notification-filter-status .dropdown-menu a,
#notification-filter-type .dropdown-menu a {
    position: relative;
    border-radius: 5px;
    padding: 10px;
}

.empty-text span {
    color: #047afb;
    font-size: 14px;
}

.notification-page .navbar-nav > li > a {
    margin: 0;
    color: #373737;
}

.notification-page .navbar {
    margin-bottom: 0;
}

.notification-page .navbar-nav > li.open > .dropdown-menu,
.cabinet.achievements .progress-top .navbar-nav > li.open > .dropdown-menu,
.open .dropdown-menu {
    top: 60px;
}

.notification-page .dropdown.open a.dropdown-toggle {
    background-color: #fff;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    font-size: 14px;
}

.notification-page .dropdown-menu:after,
.notification-page .dropdown-menu:before,
.cabinet.achievements .dropdown-menu:before,
.cabinet.achievements .dropdown-menu:after {
    right: 310px;
}

.notification-page .dropdown-menu .badge {
    top: 11px;
    right: 11px;
}

.notification-page .helpers-header {
    margin-bottom: 0;
    margin-left: 15px;
}

.content-left-fixed .profile-user-page {
    border-radius: 10px;
    box-shadow: 0 3px 15px 0 rgba(0, 60, 125, 0.15);
    margin-bottom: 52px;
}

.content-left-fixed .profile-user-page .image {
    display: block;
    width: 100%;
    height: 286px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: url(/app/media/img/create-team.png) no-repeat center;
    background-size: 850px 286px;
    margin-bottom: 32px;
}

.cabinet.create-team .content-left-fixed .image,
.cabinet.profile.team .content-left-fixed .image {
    background: url(/app/media/img/team.jpg) no-repeat center;
    background-size: 850px 286px;
    margin-bottom: 12px;
}

.profile-info-main .left-side {
    float: left;
    width: 214px;
}

.profile-info-main .left-side img {
    border-radius: 50%;
    margin: 0 auto 16px;
    max-width: 150px;
}

.profile-info-main .left-side .status, .profile-info .rating {
    background-color: #1c85f7;
    height: 40px;
    width: 40px;
    margin: 0 auto;
    border-radius: 50%;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 40px;
}

.profile-info .rating {
    margin-top: 10px;
}

.profile-info-main .right-side {
    padding-right: 32px;
    width: 626px;
    float: left;
    text-align: left;
}

.profile-info-main .right-side {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.profile-info-main .right-side .name {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    float: left;
    line-height: 17px;
    margin-bottom: 5px;
}

.profile-info-main .team-title {
    margin-top: 40px;
}

.profile-info-main .personal-achievements {
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-info-main .personal-team {
    margin-bottom: 32px;
}

.progress-block .progress-items .progress-item .knob-block {
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-30 {
    margin-top: 30px;
}

.pt-0 {
    padding-top: 0 !important;
}

.progress-block .progress-top .progress-title h3 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-top: 23px;
    text-align: left;
}

.fa.sidebar-icon {
    position: absolute;
    top: 16px;
    left: 53px;
    font-size: 21px;
    color: #FF4D00;
}

.profile-level .level-title .fa-line-chart,
.profile-level .bal-history-title .fa-usd,
.progress-block .fa-line-chart {
    position: inherit;
    font-size: 24px;
    margin-right: 10px;
}

.progress-block .progress-items .progress-item {
    padding: 15px 0;
    position: relative;
    text-align: left;
}

.progress-block .progress-items .progress-item .knob-block {
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

.cabinet .progress-block .progress-items .progress-item .knob-block .counter {
    color: #FF4D00;
    font-size: 13px;
    line-height: 15px;
    font-family: "Lato", sans-serif;
    position: absolute;
    top: calc(50% - 5px);
    left: 0;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.cabinet.achievements .progress-block .progress-items .progress-item .knob-block .counter {
    top: calc(50% - 7px);
}

.progress-block .progress-items .progress-item .knob-block .counter span {
    color: #1c85f7;
}

.progress-block .progress-items .progress-item .knob-block .counter .descr {
    text-transform: uppercase;
    font-size: 11px;
    font-family: "Lato", sans-serif;
    display: block;
}

.progress-block .progress-items .progress-item .progress-descr.empty {
    padding-top: 20px;
}

.progress-block .progress-items .progress-item .progress-descr h5 {
    font-size: 16px;
    font-family: "Lato", sans-serif;
    line-height: 1.2;
    margin: 0 0 7px;
}

.progress-block .progress-items .progress-item .progress-descr p {
    font-size: 14px;
    font-family: "Lato", sans-serif;
    line-height: 1.2;
    margin: 0;
}

.progress-block .progress-items .progress-item .progress-descr p span {
    font-family: "Lato", sans-serif;
    color: #047afb;
}

.dial {
    color: #FF4D00;
}

.levels-table-block {
    padding: 10px 32px;
}

.pl-32 {
    padding-left: 32px;
}

.current-level {
    background-color: #F7F9FB;
    border-left: 2px solid #1c85f7;
}

.profile-edit {
    width: 30px;
    height: 18px;
    display: block;
    float: left;
    background: url(/app/media/img/edit.png) center no-repeat;
    background-size: 18px;
}

.cabinet.achievements .progress-block {
    padding: 0 32px;
}

#achievement-filter-form label {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
}

.achievement-group p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
}

.cabinet.achievements .progress-top .navbar-nav > li > a {
    margin: 0;
    border-radius: 5px;
}

.cabinet.achievements .progress-top .navbar-nav {
    float: right;
}

.empty .empty-block {
    color: #047afb;
    font-size: 14px;
    margin-bottom: 32px;
}

.cabinet.achievements .progress-items {
    padding-top: 20px;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #F7F9FB;
}

.dropdown-menu > .active > a {
    background-color: #fff;
    border: 2px solid #007BFF;
}

.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #fff;
    border: 2px solid #F7F9FB;
}

.cabinet.news .helpers-header {
    margin-bottom: 32px;
}

#team-members-emails .col-md-6,
#team-members-emails .col-md-12 {
    padding: 0;
}

#team-members-emails .col-md-6 {
    width: calc(50% - 12px);
}

#team-members-emails .col-md-6:nth-child(2n) {
    margin-right: 24px;
}

#team-members-emails .col-md-12 .col-md-6:last-child .form-group,
#team-members-emails .col-md-12 .col-md-6:last-child(-1) .form-group {
    margin-bottom: 24px;
}

#main-menu #toolbar-notifications .dropdown-menu:before,
#main-menu #toolbar-notifications .dropdown-menu:after {
    right: 14px;
}

.krajee-default .file-caption-info,
.krajee-default .file-size-info {
    height: 18px !important;
}

.field-captain-id .help-block {
    margin: 0;
}

.field-captain-id {
    margin: 0;
}

.profile-team-preview {
    padding-bottom: 5px;
    padding-top: 23px;
}

.profile-team-preview .team-status {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    float: left;
    line-height: 17px;
    margin-bottom: 5px;
    color: #878787;
    margin-left: 5px;
}

.profile-team-preview .member-item .col-md-6 {
    padding-left: 0;
}

.profile-team-preview .member-item img {
    margin: 0;
    border-radius: 50%;
}

.profile-team-preview .progress-block .progress-top .progress-title h3 {
    margin-bottom: 30px;
}

.cabinet.rules .progress-block {
    padding: 15px 96px;
    font-size: 15px;
    text-align: justify;
}

.cabinet.rules .button.link-button {
    margin: 23px auto 10px;
    display: block;
}

.cabinet-menu .menu-link.active {
    border-left: 2px solid #007BFF;
    border-radius: 5px;
}

.error .content-left-fixed.container,
.questions .content-left-fixed.container {
    width: 100%;
    padding: 0;
    max-width: 1170px;
}

.error .error-text-bold {
    font-weight: bold;
    display: inline-block;
}

.error .error-text {
    display: inline-block;
    margin-bottom: 64px;
    font-size: 22px;
    margin-top: 32px;
}

.error .content-left-fixed .profile-user-page {
    margin-bottom: 0;
}

.cabinet.profile .personal-team .progress-descr p {
    font-size: 12px;
}

.cabinet.profile .personal-team .team-items .col-md-6 {
    margin-bottom: 16px;
}

.cabinet.profile .personal-team .team-items .col-md-6:last-child {
    margin-bottom: 0;
}

.cabinet.profile .personal-team .team-items .col-md-6:last-child .text-center {
    margin-bottom: 0;
}

#main-menu .nav li.last a {
    padding-right: 0;
}

.cabinet.profile .profile-personal-preview {
    padding-bottom: 16px;
}

.cabinet.news-item .simple-news-page .image {
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    min-height: 350px;
}

.cabinet.news-item .simple-news-page h3 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: 23px;
    text-align: left;
}

.content-left-fixed .simple-news-page {
    border-radius: 10px;
    box-shadow: 0 3px 15px 0 rgba(0, 60, 125, 0.15);
    margin-bottom: 32px;
    padding-bottom: 16px;
}

.content-left-fixed .simple-news-page .item-date {
    color: #93A0A9;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
}

.content-left-fixed .simple-news-page .text {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 20px;
    color: #373737;
    text-align: justify;
    padding-right: 32px;
}

.tags {
    margin: 0 0 8px 0;
    list-style: none;
}

.tags li {
    float: left;
    font-size: 0;
}

.tags li a {
    margin-right: 16px;
    font-size: 16px;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.tags li a:hover {
    color: #047afb;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.cabinet.news-item .simple-news-page h4 {
    text-align: left;
}

.steps-block.index .brand-tags {
    text-align: left;
    color: #F3BD00;
    margin-bottom: 24px;
    font-size: 21px;
    font-weight: bold;
    line-height: 23px;
}

.steps-block.index .slogan {
    font-weight: bold;
    font-size: 44px;
    line-height: 50px;
    text-align: left;
    margin-bottom: 24px;
}

.steps-block.index .block-left {
    width: 380px;
    float: right;
    margin-left: 40px;
    margin-right: 0;
}

.steps-block.index .link-button.register {
    background-color: #007BFF;
    border: none;
    height: 44px;
    border-radius: 5px;
    color: #fff;
    line-height: 44px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 8px;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
    display: block;
}

.steps-block.index .link-button.register:hover {
    background-color: #3195FF;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.steps-block.index .already {
    color: #41505c;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 14px;
}

.steps-block.index .already a {
    color: #007BFF;
}

.steps-block.index .step-subtitle {
    line-height: 25px;
}

.rules-to-profile {
    margin: 0 auto 16px;
    display: block;
}

.questions .content-left-fixed .profile-user-page {
    margin-bottom: 0;
    padding: 32px;
    text-align: justify;
}

.questions .questions-text-bold {
    font-weight: bold;
    font-size: 20px;
}

.questions .questions-text {
    font-size: 17px;
    line-height: 32px;
    margin-top: 25px;
}

.questions img {
    max-width: 150px;
    border-radius: 50%;
    display: block;
}

.questions .text-bold {
    font-weight: bold;
}

.notification-page .navbar-nav > li > a .fa {
    margin-right: 5px;
}

#notification-filter-status .label-success, #notification-filter-type .label-success {
    margin-left: 5px;
}

.DECLINED.form-control, .REMOVED.form-control {
    background-color: #fff;
    border-color: red;
}

#full-notification-block i.fa.fa-home {
    font-size: 42px;
}

.btn-kv {
    margin-bottom: 10px;
    background-color: #d85a45;
    border: none;
}

.kv-fileinput-error {
    display: none !important;
}

.steps-block .select2-container--krajee .select2-selection--single {
    height: 44px;
    border-radius: 5px;
    background-color: #F7F9FB;
    padding: 12px;
    color: #373737;
    font-size: 14px;
    border: 2px solid #F7F9FB !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.steps-block .has-success.select2-container--krajee .select2-dropdown,
.steps-block .has-success .select2-container--krajee .select2-selection {
    border-color: #007BFF !important;
}

.steps-block .select2-container--krajee.select2-container--open .select2-selection,
.steps-block .select2-container--krajee .select2-selection:focus {
    border: 2px solid #007BFF !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.steps-block .select2-container--krajee .select2-selection--single:hover {
    background-color: #fff;
    border-color: #F7F9FB !important;
}

.steps-block .has-success.select2-container--krajee .select2-dropdown,
.steps-block .has-success .select2-container--krajee .select2-selection {
    box-shadow: none;
    background-color: #fff;
    border-color: #007BFF !important;
}

.steps-block .has-error.select2-container--krajee.select2-dropdown,
.steps-block .has-error .select2-container--krajee .select2-selection {
    box-shadow: none;
    background-color: #fff;
    border-color: #FF6B00 !important;
}

.steps-block .select2-container--krajee .select2-selection--single .select2-selection__rendered {
    text-align: left;
    line-height: 1.1;
}

.steps-block .select2-container--krajee .select2-selection--single .select2-selection__arrow {
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: absolute;
    height: 42px;
    top: 1px;
    right: 1px;
    width: 30px;
}

.steps-block .select2-container .select2-selection--single .select2-selection__clear {
    margin-right: 15px;
    line-height: 0.9;
}

.steps-block .has-success .select2-container--open .select2-selection,
.steps-block .has-success .steps-block.profile.select2-container--krajee.select2-container--focus .select2-selection,
.steps-block .has-success .select2-container--krajee.select2-container--focus .select2-selection {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-color: #007BFF;
}

.steps-block .select2-container--krajee .select2-dropdown {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
}

.field-addschoolform-city_id, #add-new-city.hidden-link, .create-new-city-form {
    display: none;
}

#add-new-city:focus {
    color: #007BFF;
}

.create-new-city-form .info {
    margin-bottom: 10px;
    text-align: left;
    font-size: 13px;
    line-height: 18px;
    margin-top: 5px;
}

#add-new-city {
    display: block;
    margin-bottom: 15px;
    text-align: left;
}

.school-not-found {
    margin-bottom: 10px;
    text-align: left;
    font-size: 15px;
    line-height: 18px;
    margin-top: 5px;
    color: #FF4D00;
}

.create-new-school {
    margin-bottom: 15px;
    text-align: left;
    font-size: 15px;
    line-height: 18px;
    margin-top: 5px;
}

#list-notifications .fa.fa-user-md {
    font-size: 46px;
    padding-left: 2px;
}

.contacts-region, .contacts-region .col-md-6 {
    padding: 0;
    margin-top: 16px;
}

.contacts-region .col-md-6:first-child, .contacts-region .col-md-6:first-child(+1) {
    margin-top: 0;
}

.contacts-region {
    margin: 15px 0 32px;
}

.questions .questions-text-bold.contacts-region-title {
    margin-top: 32px;
}

.contacts-region .questions-text-bold {
    font-size: 17px;
}

.questions-text-bold.contacts-region-title, .questions-text-bold.title {
    font-size: 24px;
}

#comments-section .container {
    width: 100%;
}

@media (max-width: 1199px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 992px) {

}

@media (max-width: 1050px) {
    .steps-block.index .block-left {
        width: 100%;
    }

    .steps-block.index .block-right {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .error .content-left-fixed.container,
    .questions .content-left-fixed.container {
        max-width: 770px;
    }

    .sidebar-right-fixed {
        position: initial;
        width: 100%;
        margin-top: 16px;
    }

    .content-left-fixed {
        margin-top: 16px;
        width: 100%;
    }

    .profile-info-main .left-side {
        width: 100%;
    }

    .profile-info-main .right-side {
        width: 100%;
        text-align: center;
        margin-top: 16px;
        padding: 0 16px;
    }

    #main-menu .badge {
        margin-right: auto;
        margin-left: auto;
        left: 29px;
        height: 18px;
        width: 19px;
    }

    .progress-block .progress-top .progress-title h3 {
        text-align: center;
    }

    .form-control {
        font-size: 16px;
    }

    .progress-block .progress-items .progress-item .knob-block {
        float: right;
    }

    .member-item .progress-descr h5 {
        margin-top: 0;
    }

    .block-title-dynamic {

    }

    .steps-block {
        position: relative;
    }

    footer {
        padding-top: 32px;
        padding-bottom: 22px;
        background-color: #F7F9FB;
        position: relative;
        z-index: 1000;
        float: none;
        margin-top: 64px;
    }

    .footer-main {
        display: block;
        float: none;
        width: 400px;
        margin: 0 auto;
    }

    footer .rights, footer .socials {
        position: relative;
        height: 100%;
    }

    footer .links-block, footer .social-icon-pack {
        position: static;
        top: 0;
        margin: 0 auto;
        width: 200px;
        height: 100%;
    }

    footer .links-block a {
        color: #93A0A9;
        font-size: 14px;
        text-align: center;
        margin-right: 12px;
        float: none;
    }

    footer .footer-logo {
        height: 42px;
        margin-top: 0;
        display: block;
    }

    footer .footer-logo img {
        position: static;
        margin: 23px auto 0;
        height: 24px;
        width: 210px;
        display: block;
    }

    footer .rights {
        text-align: center;
        line-height: 40px;
        margin: 0;
    }

    footer .rights, footer .socials {
        position: relative;
        height: 100%;
    }

    footer .social-icon-pack {
        display: block;
        height: 30px;
        width: 160px;
        margin: 0 auto;
    }

    footer .social-icon:first-child {
        margin-right: 0;
        float: left;
        margin-left: 0;
    }

    footer .social-icon {
        height: 15px;
        width: 22px;
        margin-left: 24px;
        float: left;
    }

    footer .footer-rights {
        position: static;
        height: 42px;
    }

    footer .links-block a:last-child {
        margin-right: 0;
    }

    #team-members-emails .col-xs-12 {
        width: 100%;
    }

    #teamcreateform-captchateam {
        width: 230px;
    }

    .content-left-fixed .news-item.small .image, .news-item.small {
        width: 100%;
    }

    .content-left-fixed .news-item .image {
        width: 100%;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }

    .levels-table-block table tr, #case-grid table tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
    }

    .levels-table-block table thead {
        display: none;
    }

    .levels-table-block .table > tbody > tr > td {
        padding: 4px;
        border: none;
    }

    .levels-table-block .table tbody tr td:last-child {
        padding-bottom: 16px;
    }

    .levels-table-block table {
        border: 0;
    }

    .levels-table-block table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }

    .levels-table-block table td {
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px dotted #ccc;
    }
}

@media (max-width: 767px) {
    .navbar-inverse {
        background-color: rgba(255, 255, 255, 0.5);
    }

    .logos.big {
        display: none;
    }

    #partners.page-block .description {
        margin-bottom: 30px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #302f31;
        background-color: transparent;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        background-color: rgba(255, 255, 255, 0.9);
    }

    .navbar-brand img {
        padding-left: 15px;
    }

    .container > .navbar-header {
        background-color: rgba(255, 255, 255, 0.9);
    }

    .navbar-inverse .navbar-nav > li > a {
        display: block;
        text-align: center;
    }

    .navbar-nav > li > a {
        margin: 0;
        display: inline-block;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #000;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        margin-top: 0;
    }

    .navbar-inverse .navbar-nav li.login a {
        margin: 0 16px 9px;
    }

    .navbar-brand img {
        height: 29px;
    }
}

@media (min-width: 768px) {
    .navbar-inverse .navbar-nav li:last-child(-1) a {
        position: relative;
    }
}

@media (max-width: 1270px) and (min-width: 991px) {
    .cabinet .sidebar-right-fixed {
        position: absolute;
        top: 50px;
        left: 0;
        width: 25%;
    }

    .cabinet .content-left-fixed {
        width: 74%;
    }

    .steps-block.profile {
        max-width: 970px;
    }

    .profile-info-main .left-side img {
        max-width: 130px;
    }

    .profile-info-main .left-side {
        width: 25%;
    }

    .profile-info-main .right-side {
        width: 70%;
    }

    footer .links-block a {
        margin-right: 16px;
        font-size: 16px;
    }

    .content-left-fixed .news-item .image {
        width: 50%;
    }

    .content-left-fixed .news-item .information {
        width: 50%;
    }

    .news-item.small {
        width: calc(50% - 16px);
    }

    .content-left-fixed .news-item.small .image {
        width: 100%;
    }

    .content-left-fixed .news-item .information .short {
        max-height: 115px;
        overflow: hidden;
    }

    .content-left-fixed .news-item .information .short.item-date {
        bottom: 65px;
    }
}

@media (min-width: 637px) {

}

@media (max-width: 624px) {

}

::-moz-selection {
    color: #fff;
    background: rgb(233, 65, 77);
}

::selection {
    color: #fff;
    background: rgb(233, 65, 77);
}