@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&subset=latin-ext');

body {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    position: relative;
    color: #000;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.nopadding {
    padding: 0 !important;
}

#main-menu {
    background: #fff;
    border: none;
    padding: 0;
    margin: 0;
    border-bottom: 4px solid #F7F9FB;
}

#main-menu .navbar-brand {
    padding: 0;
    height: 84px;
    position: relative;
    margin-left: 0;
}

#main-menu .dropdown-menu > li > a {
    background-color: white;
}

#main-menu .dropdown-menu > li:first-child > a {
    border-radius: 3px 3px 0 0;
}

#main-menu .dropdown-menu > .active > a,
#main-menu .dropdown-menu > .active > a:hover,
#main-menu .dropdown-menu > .active > a:focus {
    color: #000;
    background-color: white;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    text-transform: none;
}

#yii-debug-toolbar-min img {
    margin-bottom: 0 !important;
}

#easyii-navbar .navbar-nav > li > a {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    color: #B3B8C3;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300;
    line-height: 1.8;
    font-size: 14px;
    text-align: left;
}

.navbar-nav > li > a {
    margin: 20px 0;
}

#easyii-navbar span {
    color: #B3B8C3;
}

#yii-debug-toolbar img {
    margin-bottom: 0 !important;
}

.navbar-brand {
    margin: 0;
    padding: 0;
    height: 70px;
}

.navbar-brand img {
    height: 32px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.affix {
    background-color: rgba(255, 255, 255, 1) !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #000;
}

.navbar-inverse {
    border: none;
}

.navbar-toggle {
    margin-top: 29px;
    border: none;
}

.navbar-inverse .navbar-toggle {
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 19px;
    padding: 0;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:focus .caret,
.navbar-inverse .navbar-nav > li.active > a,
.navbar-inverse .navbar-nav > li > a:hover .caret {
    color: #000;
}

.navbar-inverse .navbar-nav > li > a {
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    font-weight: normal;
    color: #007BFF;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.navbar-inverse .navbar-nav li.login a {
    background-color: #007BFF;
    border-radius: 5px;
    color: #fff;
    padding: 8px 12px !important;
    margin-left: 16px;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
    border: 2px solid #007BFF;
}

.navbar-inverse .navbar-nav li.login a:hover {
    color: #007BFF;
    background-color: #fff;
    border: 2px solid #007BFF;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #3195FF;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.navbar-inverse .navbar-nav > li > a:hover .caret {
    color: #565454;
}

.navbar-inverse .navbar-nav > li > a:focus {
    outline: none;
    outline-offset: 0;
    overflow: initial;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #000;
}

.tp-caption.custom_theme_big, .tp-caption.custom_theme_very_small {
    color: #000;
}

.btn.btn-default {
    border-radius: 3px;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
}

.btn.btn-default:hover {
    border: none;
    background-color: #2f2d2d;
    color: #fff;
}

.btn:after {
    display: none;
}

#main-menu {
    min-height: 84px;
}

#main-menu.affix {
    padding-top: 0;
}

.navbar-nav > li.open > .dropdown-menu, .open .dropdown-menu {
    border: none;
    border-radius: 3px;
    top: 110px;
}

.dropdown-menu > li > a {
    color: #000;
}

.dropdown-menu > li > a:hover {
    color: #565454;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #fff;
    color: #000;
}

.navbar-inverse .navbar-nav > li > a.active .underline {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-width: 2px;
    border-color: rgba(233, 65, 77, 1);
}

article img {
    max-width: 100%;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-header {
    position: relative;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 15px;
    height: 1px;
    border-radius: 1px;
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: none;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #000;
    background-color: transparent;
}

.padding {
    padding: 35px 0;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000;
}

.navbar-mobile-rows {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 6px;
}

footer {
    min-height: 176px;
    background-color: #F7F9FB;
    position: absolute;
    bottom: 0;
    z-index: 1000;
}

footer .rights, footer .socials {
    position: relative;
    height: 176px;
}

footer .footer-rights {
    position: absolute;
    bottom: 50px;
    right: 0;
    margin: auto;
    height: 24px;
    color: #93A0A9;
    font-size: 18px;
}

footer .footer-logo img {
    position: absolute;
    bottom: 50px;
    left: 0;
    margin: auto;
    height: 24px;
}

footer .links-block, footer .social-icon-pack {
    position: absolute;
    top: 40px;
    margin: auto;
    height: 24px;
}

footer .links-block {
    left: 0;
}

footer .social-icon-pack {
    right: 0;
}

footer .links-block a {
    color: #93A0A9;
    float: left;
    margin-right: 32px;
    font-size: 18px;
}

footer .socials-block {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: 30px;
}

footer .social-icon:first-child {
    margin-right: 5px;
}

footer .social-icon {
    height: 15px;
    width: 22px;
    float: right;
    margin-left: 24px;
}

@media (max-width: 1199px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 992px) {

}

@media (max-width: 991px) {
    .form-control {
        font-size: 16px;
    }

    footer {
        padding-top: 60px;
        padding-bottom: 50px;
    }

    footer .rights {
        text-align: center;
        line-height: 40px;
        margin-top: 100px;
    }

    footer .footer-logo {
        height: 60px;
        margin-top: -115px;
    }

    footer .socials {
        height: 110px;
    }

    footer .socials-block {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 55px;
    }

    footer .social-icon-pack {
        display: block;
        height: 30px;
        width: 80px;
        margin: 0 auto;
    }

    footer .phone-number {
        display: block;
        text-align: center;
        margin-top: 20px;
    }
}

@media (max-width: 767px) {
    .navbar-inverse {
        background-color: rgba(255, 255, 255, 0.5);
    }

    .logos.big {
        display: none;
    }

    #partners.page-block .description {
        margin-bottom: 30px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #302f31;
        background-color: transparent;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        background-color: rgba(255, 255, 255, 0.9);
    }

    .navbar-brand img {
        padding-left: 15px;
    }

    .container > .navbar-header {
        background-color: rgba(255, 255, 255, 0.9);
    }

    .navbar-inverse .navbar-nav > li > a {
        display: block;
        text-align: center;
    }

    .navbar-nav > li > a {
        margin: 0;
        display: inline-block;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #000;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        margin-top: 0;
    }
}

@media (min-width: 768px) {
    .navbar-inverse .navbar-nav li:last-child a {
        padding-right: 0;
    }
}

@media (max-width: 636px) {

}

@media (min-width: 637px) {

}

@media (max-width: 624px) {

}

::-moz-selection {
    color: #fff;
    background: rgb(233, 65, 77);
}

::selection {
    color: #fff;
    background: rgb(233, 65, 77);
}