body {
    font-family: 'Lato', sans-serif;
    color: #263745;
    position: relative;
}

.ios,
.ios * {
    cursor: pointer;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.nopadding {
    padding: 0 !important;
}

#yii-debug-toolbar-min img {
    margin-bottom: 0 !important;
}

#easyii-navbar .navbar-nav > li > a {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    color: #B3B8C3;
    font-family: 'Lato', sans-serif !important;
    font-weight: 300;
    line-height: 1.8;
    font-size: 14px;
    text-align: left;
}

.navbar-nav > li > a {
    margin: 28px 0;
}

#easyii-navbar span {
    color: #B3B8C3;
}

#yii-debug-toolbar img {
    margin-bottom: 0 !important;
}

.steps-block {
    max-width: 1028px;
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    top: 80px;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding: 64px;
}

.steps-block.register {
    min-height: 836px;
}

.steps-block.login {
    min-height: 600px;
}

form#user-register, form#user-login {
    max-width: 400px;
    margin: 0 auto;
}

form input.form-control,
#registerform-captchauser,
#loginform-captchauser,
#teamcreateform-captchateam,
#addschoolform-captchauser,
.kv-fileinput-caption {
    height: 44px;
    border-radius: 5px;
    background-color: #F7F9FB;
    padding: 12px;
    color: #373737;
    font-size: 14px;
    border: 2px solid #F7F9FB;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

button.link-button {
    width: 340px;
    background-color: #007BFF;
    border: none;
    height: 44px;
    border-radius: 5px;
    color: #fff;
    line-height: 28px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 8px;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

button.link-button:hover {
    background-color: #3195FF;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

form .already {
    color: #41505c;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 14px;
}

form .already a {
    color: #007BFF;
}

form .already a:hover {
    color: #3195FF;
}

.form-z-index {
    padding: 0;
}

#registerform-captchauser, #loginform-captchauser, #teamcreateform-captchateam,
#addschoolform-captchauser
{
    width: 230px;
}

#registerform-captchauser::placeholder, #loginform-captchauser::placeholder, #teamcreateform-captchateam::placeholder,
#addschoolform-captchauser::placeholder {
    color: #93A0A9;
}

.steps-block .step-title {
    font-size: 22px;
    margin-bottom: 22px;
    font-weight: bold;
    text-align: left;
    line-height: 29px;
}

.steps-block .step-subtitle {
    font-size: 18px;
    margin-bottom: 24px;
    font-weight: normal;
    text-align: left;
    line-height: 22px;
}

.steps-block.rules {
    color: #263745;
    font-family: 'Lato', sans-serif;
}

.steps-block.rules .step-title {
    font-family: 'Lato', sans-serif;
}

.steps-block.rules .text-info-block {
    font-size: 16px;
    text-align: justify;
    padding: 0 36px;
}

.steps-block.rules .text-info-block .margin-text {
    margin-top: 15px;
}

.steps-block.rules .separator-space {
    height: 60px;
}

.steps-block.rules .text-info-block-bold {
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.steps-block.profile {
    padding: 20px;
}

.steps-block.profile .logo {
    margin: 0;
    float: left;
    height: 60px;
    background-size: 180px 60px;
}

.steps-block.register .profile-navigation,
.steps-block.login .profile-navigation {
    float: none !important;
    margin: 10px auto 0;
    width: 137px;
}

.steps-block.profile .profile-navigation,
.steps-block.register .profile-navigation,
.steps-block.login .profile-navigation {
    height: 60px;
    float: right;
    color: #007BFF;
}

.steps-block.profile a.link-additional,
.steps-block.register a.link-additional,
.steps-block.login a.link-additional {
    float: right;
    margin-left: 20px;
    font-size: 16px;
    font-weight: normal;
    line-height: 60px;
    font-family: 'Lato', sans-serif;
    color: #007BFF;
    display: table;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.steps-block.profile a.link-additional:hover,
.steps-block.register a.link-additional:hover,
.steps-block.login a.link-additional:hover {
    color: #3195FF;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.steps-block.profile a.link-additional:last-child,
.steps-block.register a.link-additional:last-child,
.steps-block.login a.link-additional:last-child {
    margin-left: 0;
}

.steps-block.profile .link-additional .link-icon,
.steps-block.register .link-additional .link-icon,
.steps-block.login .link-additional .link-icon {
    width: 24px;
    vertical-align: middle;
    display: table-cell;
}

.steps-block.profile .link-additional .link-icon > div,
.steps-block.register .link-additional .link-icon > div,
.steps-block.login .link-additional .link-icon > div {
    height: 24px;
    width: 24px;
    margin-right: 7px;
}

.steps-block.profile .link-additional .link-icon .exit {
    background: url(/app/media/img/icon4.svg) no-repeat;
    background-size: 24px 24px;
}

.steps-block.profile .link-additional .link-icon .rules {
    background: url(/app/media/img/icon5.svg) no-repeat;
    background-size: 24px 24px;
}

.steps-block.profile .link-additional .link-icon .about {
    background: url(/app/media/img/icon1.svg) no-repeat;
    background-size: 24px 24px;
}

.steps-block.profile .link-additional .link-icon .help,
.steps-block.register .link-additional .link-icon .help,
.steps-block.login .link-additional .link-icon .help {
    background: url(/app/media/img/icon2.svg) no-repeat;
    background-size: 24px 24px;
}

.timer .timer-icon {
    height: 24px;
    width: 24px;
    margin-right: 7px;
    float: left;
    background: url(/app/media/img/icon3.svg) no-repeat;
    background-size: 24px 24px;
}

.timer #time-value {
    float: left;
}

.steps-block.profile .separator-space {
    height: 60px;
}

.steps-block.profile .statistics, .steps-block.profile .question {
    text-align: center;
    color: #263745;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin-bottom: 40px;
}

.steps-block.profile .statistics {
    height: 25px;
}

.steps-block.profile .statistics-wrapper {
    display: inline-block;
}

.steps-block.profile .statistics .nick,
.steps-block.profile .statistics .smarts {
    float: left;
}

.steps-block.profile .questions .block {
    margin-bottom: 30px;
    width: 100%;
    min-height: 116px;
    border-radius: 5px;
    border: 2px solid #007BFF;
}

.steps-block.profile .questions .block:last-child {
    margin-bottom: 0;
}

.steps-block.profile .questions .block.disabled,
.steps-block.profile .questions .block.answered,
.steps-block.profile .questions .block.missed {
    border: 2px solid #CBD5DC;
}

.steps-block.profile .questions .block.answered .right-part .number {
    border: 2px solid #CBD5DC;
    border-top: none;
    position: relative;
}

.steps-block.profile .questions .block .left-part {
    float: left;
    width: calc(100% - 173px);
    height: 100%;
    min-height: 116px;
    text-align: left;
    padding-left: 20px;
}

.steps-block.profile .questions .block .left-part .title {
    height: 50%;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #263745;
    line-height: 21px;
    padding-top: 28px;
}

.steps-block.profile .questions .block .left-part .sub-title {
    height: 50%;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #263745;
    line-height: 22px;
    padding-top: 12px;
}

.steps-block.profile .questions .block .left-part .sub-title.info {
    line-height: 21px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.steps-block.profile .questions .block .left-part .sub-title.info .block-finished-sub-title {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 3px;
    font-size: 19px;
}

.steps-block.profile .questions .block .left-part .sub-title.info .block-finished-text {
    font-size: 14px;
    line-height: 22px;
    padding-right: 20px;
}

.new-info.about-event {
    text-align: justify;
    font-size: 14px;
    line-height: 28px;
    width: 600px;
    margin: 20px auto 30px;
}

.new-info.about-event .block-finished-sub-title {
    font-weight: bold;
    font-size: 17px;
}

.steps-block.profile .questions .block .right-part {
    float: left;
    width: 173px;
    height: 100%;
}

.steps-block.profile .questions .block .right-part .numbers {
    height: 100%;
    width: 58px;
    float: left;
}

.steps-block.profile .questions .block .right-part .number {
    height: 50%;
    border: 2px solid #007BFF;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 55px;
    border-top: none;
}

.steps-block.profile .questions .block.disabled .right-part .number,
.steps-block.profile .questions .block.missed .right-part .number {
    border: 2px solid #CBD5DC;
    border-top: none;
}

.steps-block.profile .questions .block.missed .right-part .number {
    position: relative;
}

.steps-block.profile .questions .block .right-part .number:last-child {
    border-bottom: none;
}

.steps-block.profile .questions .block .right-part .number .state {
    height: 38px;
    width: 38px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 38px;
    color: #fff;
    border-radius: 19px;
}

.steps-block.profile .questions .block .right-part .number .state.correct {
    background-color: #69d6ad;
}

.steps-block.profile .questions .block .right-part .number .state.wrong {
    background-color: #9F6CC7;
}

.steps-block.profile .questions .block .right-part .start {
    width: 115px;
    color: #fff;
    height: 100%;
    float: left;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.steps-block.profile .questions .block .right-part .start.enabled {
    background-color: #007BFF;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.steps-block.profile .questions .block .right-part .start.enabled:hover {
    cursor: pointer;
    background-color: #fff;
    color: #007BFF;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.steps-block.profile .questions .block .right-part .start .text {
    height: 50%;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.steps-block.profile .questions .block .right-part .start .text.title {
    padding-top: 25px;
    line-height: 40px;
}

.steps-block.profile .questions .block .right-part .start .text.sub-title {
    line-height: 30px;
    font-size: 15px;
}

.steps-block.profile .questions .block .right-part .start.disabled,
.steps-block.profile .questions .block .right-part .start.missed {
    position: relative;
    background-color: #CBD5DC;
}

.steps-block.profile .questions .block .right-part .start.answered {
    position: relative;
    background-color: #007BFF;
}

.steps-block.profile .questions .block .right-part .start.disabled .icon,
.steps-block.profile .questions .block .right-part .start.answered .icon,
.steps-block.profile .questions .block .right-part .start.missed .icon {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.steps-block.profile .questions .block .right-part .start.disabled .icon,
.steps-block.profile .questions .block .right-part .start.missed .icon {
    background: url(/app/media/img/icon6.svg) no-repeat;
    background-size: 40px 40px;
}

.steps-block.profile .questions .block .right-part .start.answered .icon {
    background: url(/app/media/img/icon7.svg) no-repeat;
    background-size: 40px 40px;
}

.steps-block.profile .question {
    text-align: left;
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 20px;
    border-bottom: 2px solid #007BFF;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
}

.steps-block.profile .answer {
    width: calc(50% - 10px);
    float: left;
    height: 98px;
    border-radius: 10px;
    border: 2px solid #CBD5DC;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
    display: table;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.steps-block.profile .answer:hover {
    cursor: pointer;
    border: 2px solid #007BFF;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.steps-block.profile .answer.pressed {
    background-color: #DFFFF6;
}

.steps-block.profile .answer.selected {
    background-color: #007BFF;
    color: #fff;
    border: 2px solid #007BFF;
}

.steps-block.profile .answer.wrong {
    background-color: #9F6CC7;
    color: #fff;
    border: 2px solid #9F6CC7;
}

.steps-block.profile .answer.correct {
    background-color: #3EC09B;
    color: #fff;
    border: 2px solid #3EC09B;
}

.steps-block.profile .answers .answer:nth-child(2n + 1) {
    margin-right: 20px;
}

.steps-block.profile .answer .text {
    display: table-cell;
    vertical-align: middle;
}

.steps-block.profile.answer-block .separator-space {
    height: 40px;
}

.answer-block #submit-answer {
    margin-top: 20px;
}

.image-group img {
    width: 600px;
    margin-bottom: 30px;
}

.congrads {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.new-info {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 30px;
    line-height: 32px;
}

.timer {
    height: 18px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 29px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.timer .timer-wrapper {
    display: inline-block;
}

.timer .timer-wrapper .time-value {
    float: left;
    height: 18px;
    width: 18px;
}

.pointer-question {
    height: 18px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 4px;
}

.pointer-question .pointer-question-wrapper {
    display: inline-block;
}

.steps-block.profile .pointer-question .pointer-question-wrapper .item {
    float: left;
    height: 18px;
    width: 18px;
    border-radius: 9px;
    margin: 0 8px;
}

.steps-block.profile .pointer-question .pointer-question-wrapper .item.answered-point {
    background: url(/app/media/img/icon8.svg) no-repeat;
    background-size: 18px 18px;
}

.steps-block.profile .pointer-question .pointer-question-wrapper .item.unanswered-point {
    background: url(/app/media/img/icon9.svg) no-repeat;
    background-size: 18px 18px;
}

#space {
    position: absolute;
    top: 0;
    left: 0;
}

.brighttheme-icon-sticker {
    display: none;
}

.question .question-text {
    float: left;
    height: 100px;
    line-height: 100px;
}

.question .image {
    float: right;
}

.question .image img {
    max-width: 100px;
    margin-bottom: 0;
}

.name-must-be {
    color: #FF4D00;
}

a {
    color: #007BFF;
}

.help-info {
    font-size: 16px;
    line-height: 33px;
    text-align: left;
    margin-bottom: 30px;
    padding-left: 36px;
    padding-right: 36px;
}

.help-info .bold {
    display: inline-block;
    font-weight: normal;
}

.has-error .help-block, .has-error .control-label,
.has-error .radio, .has-error .checkbox, .has-error .radio-inline,
.has-error .checkbox-inline, .has-error.radio label,
.has-error.checkbox label, .has-error.radio-inline label,
.has-error.checkbox-inline label {
    color: #FF4D00;
    font-size: 14px;
}

.field-registerform-captchauser img, .field-loginform-captchauser img, .field-teamcreateform-captchateam img,
.field-addschoolform-captchauser img
{
    margin: 0;
}

.field-teamcreateform-captchateam .help-block {
    text-align: left;
}

.field-teamcreateform-captchateam .media-body {
    width: 230px;
}

.block-left {
    width: 380px;
    float: left;
    margin-right: 40px;
}

.content-left-fixed .profile-user-page .image {
    display: block;
    width: 100%;
    height: 286px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: url(/app/media/img/create-team.png) no-repeat center;
    background-size: 850px 286px;
    margin-bottom: 32px;
}

.cabinet.profile .content-left-fixed .image {
    background: url(/app/media/img/profile.jpg) no-repeat center;
    background-size: 850px 286px;
    margin-bottom: 32px;
}

.cabinet.task .content-left-fixed .image {
    background: url(/app/media/img/task.jpg) no-repeat center;
    background-size: 850px 286px;
    margin-bottom: 12px;
}

.cabinet.create-team .content-left-fixed .image,
.cabinet.profile.team .content-left-fixed .image,
.cabinet.create-team .content-left-fixed .image,
.cabinet.profile.team .content-left-fixed .image {
    background: url(/app/media/img/team.jpg) no-repeat center;
    background-size: 850px 286px;
    margin-bottom: 12px;
}

.block-right {
    width: 480px;
    float: left;
    min-height: 480px;
    background: url(/app/media/img/signup.png) no-repeat center;
    background-size: 480px 480px;
}

.login .block-right {
    background: url(/app/media/img/login.jpg) no-repeat center;
    background-size: 480px 480px;
}

.add-school.login .block-right {
    background: url(/app/media/img/signup.png) no-repeat center;
    background-size: 480px 480px;
}

.login.register .block-right {
    background: url(/app/media/img/register.jpg) no-repeat center;
    background-size: 480px 480px;
}

.social-items {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 15px 0 rgba(0, 60, 125, 0.15);
}

.user-form-edit {
    padding: 10px 32px 16px;
    border-radius: 10px;
}

.media-right {
    padding: 0;
}

.form-group {
    margin-bottom: 12px;
}

.form-control:hover,
#registerform-captchauser:hover,
#loginform-captchauser:hover,
#teamcreateform-captchateam:hover {
    background-color: #fff;
    border: 2px solid #F7F9FB;
}

.form-control:focus,
#registerform-captchauser:focus,
#loginform-captchauser:focus,
#teamcreateform-captchateam:focus{
    border: 2px solid #007BFF;
    box-shadow: none;
    background-color: #fff;
}

.has-error .form-control:focus,
.has-error .form-control,
.has-error #registerform-captchauser:focus,
.has-error #loginform-captchauser:focus,
.has-error #registerform-captchauser,
.has-error #loginform-captchauser,
.has-error #teamcreateform-captchateam,
.has-error #teamcreateform-captchateam:focus
{
    border: 2px solid #FF6B00;
    box-shadow: none;
    background-color: #fff;
}

.has-success .form-control,
.has-success .form-control:focus {
    border: 2px solid #007BFF;
    box-shadow: none;
    background-color: #fff;
}

.custom-option .item {
    width: calc(50% - 6px);
    float: left;
    margin-right: 12px;
    height: 44px;
    border-radius: 5px;
    padding: 12px;
    font-size: 14px;
    border: 2px solid #F7F9FB;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
    background: #F7F9FB url(/app/media/img/icon9.svg) no-repeat 92% 50%;
    background-size: 18px 18px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 16px;
    color: #93A0A9;
}

.custom-option .item.selected {
    color: #373737;
    background: #F7F9FB url(/app/media/img/icon8.svg) no-repeat 92% 50%;
    background-size: 18px 18px;
    border: 2px solid #007BFF;
}

.custom-option .item:last-child {
    margin-right: 0;
}

.custom-option .item:hover {
    background-color: #fff;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
    cursor: pointer;
}

.field-registerform-role, .field-registerform-role .help-block {
    margin: 0;
}

.field-siteuser-avatar .btn-file,
button.fileinput-upload,
.field-teamcreateform-avatar .btn-file {
    height: 44px !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    background-color: #047afb !important;
    padding: 12px !important;
    font-size: 14px !important;
    border: 2px solid #047afb !important;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
    margin: 0 !important;
    color: #fff !important;
}

button.fileinput-upload {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.field-siteuser-avatar .btn-file:hover,
button.fileinput-upload:hover,
.field-teamcreateform-avatar .btn-file:hover {
    background-color: #fff !important;
    border: 2px solid #047afb !important;
    color: #047afb !important;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.field-siteuser-avatar .btn-file:hover span,
.field-teamcreateform-avatar .btn-file:hover span,
button.fileinput-upload:hover span {
    color: #047afb;
}

.field-siteuser-avatar span, .field-teamcreateform-avatar span {
    color: #fff;
}

@media (max-width: 1199px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 992px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
    .steps-block.profile a.link-additional {
        margin-left: 0;
        width: 50%;
        text-align: left;
    }

    .steps-block.profile .questions .block .left-part .sub-title {
        line-height: 15px;
        padding-right: 15px;
        font-size: 12px;
        padding-top: 5px;
    }

    .steps-block.profile .questions .block .left-part .title {
        font-size: 21px;
        line-height: 21px;
        padding-top: 25px;
    }

    .steps-block.profile .separator-space {
        height: 20px;
    }

    .steps-block.profile .profile-navigation {
        margin-top: 30px;
        height: 100%;
    }

    .steps-block.profile .logo {
        margin: 0 auto;
        float: none;
        height: 60px;
        background-size: 180px 60px;
        width: 182px;
    }

    .steps-block.profile .answer .text {
        padding-left: 15px;
        padding-right: 15px;
    }

    .profile-navigation {
        height: 100%;
        width: 360px;
        display: block;
        margin: 20px auto 0;
    }

    button.link-button, form#user-register, form#user-login {
        max-width: 313px;
    }

    #registerform-captchauser, #loginform-captchauser, #teamcreateform-captchateam {
        width: 200px;
    }

    .new-info.about-event, .image-group img {
        max-width: 600px;
        width: 100%;
    }

    .main-rules .text-info-block {
        padding: 0 !important;
    }

    .steps-block.rules.main-rules .separator-space {
        height: 30px;
    }

    .steps-block {
        padding: 64px 16px;
    }

    .block-left, .block-right {
        width: 100%;
        float: none;
        display: block;
    }
}

@media (min-width: 768px) {

}

@media (max-width: 636px) {

}

@media (min-width: 637px) {

}

@media (max-width: 624px) {

}