@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&subset=latin-ext');

body {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    position: relative;
    color: #000;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.nopadding {
    padding: 0 !important;
}

#main-menu {
    background: #fff;
    border: none;
    padding: 0;
    margin: 0;
    border-bottom: 4px solid #F7F9FB;
}

#main-menu .navbar-brand {
    padding: 0;
    height: 84px;
    position: relative;
    margin-left: 0;
}

#main-menu .dropdown-menu > li > a {
    background-color: white;
}

#main-menu .dropdown-menu > li:first-child > a {
    border-radius: 3px 3px 0 0;
}

#main-menu .dropdown-menu > .active > a,
#main-menu .dropdown-menu > .active > a:hover,
#main-menu .dropdown-menu > .active > a:focus {
    color: #000;
    background-color: white;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    text-transform: none;
}

#yii-debug-toolbar-min img {
    margin-bottom: 0 !important;
}

#easyii-navbar .navbar-nav > li > a {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    color: #B3B8C3;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300;
    line-height: 1.8;
    font-size: 14px;
    text-align: left;
}

.navbar-nav > li > a {
    margin: 20px 0;
}

#easyii-navbar span {
    color: #B3B8C3;
}

#yii-debug-toolbar img {
    margin-bottom: 0 !important;
}

.navbar-brand {
    margin: 0;
    padding: 0;
    height: 70px;
}

.navbar-brand img {
    height: 32px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.affix {
    background-color: rgba(255, 255, 255, 1) !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #000;
}

.navbar-inverse {
    border: none;
}

.navbar-toggle {
    margin-top: 29px;
    border: none;
}

.navbar-inverse .navbar-toggle {
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 19px;
    padding: 0;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:focus .caret,
.navbar-inverse .navbar-nav > li.active > a,
.navbar-inverse .navbar-nav > li > a:hover .caret {
    color: #000;
}

.navbar-inverse .navbar-nav > li > a {
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    font-weight: normal;
    color: #007BFF;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.navbar-inverse .navbar-nav li.login a {
    background-color: #007BFF;
    border-radius: 5px;
    color: #fff;
    padding: 8px 12px !important;
    margin-left: 16px;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
    border: 2px solid #007BFF;
}

.navbar-inverse .navbar-nav li.login a:hover {
    color: #007BFF;
    background-color: #fff;
    border: 2px solid #007BFF;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.navbar-inverse .navbar-nav > li > a:hover, .cabinet-menu a:hover {
    color: #3195FF;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.navbar-inverse .navbar-nav > li > a:hover .caret {
    color: #565454;
}

.navbar-inverse .navbar-nav > li > a:focus {
    outline: none;
    outline-offset: 0;
    overflow: initial;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #3195FF;
}

.tp-caption.custom_theme_big, .tp-caption.custom_theme_very_small {
    color: #000;
}

.btn.btn-default {
    border-radius: 3px;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
}

.btn.btn-default:hover {
    border: none;
    background-color: #2f2d2d;
    color: #fff;
}

.btn:after {
    display: none;
}

#main-menu {
    min-height: 84px;
}

#main-menu.affix {
    padding-top: 0;
}

.navbar-nav > li.open > .dropdown-menu, .open .dropdown-menu {
    border: none;
    border-radius: 5px;
    top: 100px;
    padding: 16px;
    min-width: 350px;
}

.dropdown-content-heading {
    font-weight: bold;
    color: #047afb;
    padding-left: 12px;
}

#toolbar-notifications i.heading-icon {
    font-size: 18px;
}

li.notification-item .media-annotation {
    font-size: 11px;
    color: #93A0A9;
}

.media-list {
    line-height: 19px;
    margin-top: 20px;
}

.media-list span {
    margin-bottom: 0;
}

#toolbar-notifications .media-link i {
    font-size: 32px;
    color: #ea4933;
}

.dropdown-content-footer a {
    display: block;
    padding: 7px;
    text-align: center;
    color: #333;
}

.icon-menu {
    color: #3294fb;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    min-width: 1em;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dropdown-menu:before {
    border-bottom: 11px solid rgb(4, 122, 251);
    border-left: 11px solid rgba(0, 0, 0, 0);
    border-right: 11px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    position: absolute;
    right: 17px;
    margin-left: -60%;
    top: -11px;
}

.dropdown-menu:after {
    border-bottom: 11px solid #FFFFFF;
    border-left: 11px solid rgba(0, 0, 0, 0);
    border-right: 11px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    position: absolute;
    right: 17px;
    margin-left: -60%;
    top: -7px;
}

.dropdown-menu > li > a {
    color: #000;
}

.dropdown-menu > li > a:hover {
    color: #565454;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #fff;
    color: #000;
}

.navbar-inverse .navbar-nav > li > a.active .underline {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-width: 2px;
    border-color: rgba(233, 65, 77, 1);
}

article img {
    max-width: 100%;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-header {
    position: relative;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 15px;
    height: 1px;
    border-radius: 1px;
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: none;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #000;
    background-color: transparent;
}

.padding {
    padding: 35px 0;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000;
}

.navbar-mobile-rows {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 6px;
}

footer {
    min-height: 176px;
    background-color: #F7F9FB;
    position: absolute;
    bottom: 0;
    z-index: 1000;
}

footer .rights, footer .socials {
    position: relative;
    height: 176px;
}

footer .footer-rights {
    position: absolute;
    bottom: 50px;
    right: 0;
    margin: auto;
    height: 24px;
    color: #93A0A9;
    font-size: 18px;
}

footer .footer-logo img {
    position: absolute;
    bottom: 50px;
    left: 0;
    margin: auto;
    height: 24px;
}

footer .links-block, footer .social-icon-pack {
    position: absolute;
    top: 40px;
    margin: auto;
    height: 24px;
}

footer .links-block {
    left: 0;
}

footer .social-icon-pack {
    right: 0;
}

footer .links-block a {
    color: #93A0A9;
    float: left;
    margin-right: 32px;
    font-size: 18px;
}

footer .socials-block {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    height: 30px;
}

footer .social-icon:first-child {
    margin-right: 5px;
}

footer .social-icon {
    height: 15px;
    width: 22px;
    float: right;
    margin-left: 24px;
}

.cabinet {
    position: relative;
}

article {
    margin-bottom: 0;
    float: none;
}

.sidebar-right-fixed {
    width: 255px;
    position: fixed;
    z-index: 1;
    top: 145px;
    left: 172px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    overflow-x: hidden;
}

.steps-block.profile {
    max-width: 1170px;
    padding: 15px;
}

.content-left-fixed {
    font-size: 28px;
    width: 850px;
    float: right;
    margin-top: 50px;
}

.content-left-fixed .news-item {
    border-radius: 10px;
    box-shadow: 0 3px 15px 0 rgba(0, 60, 125, 0.15);
    margin-bottom: 52px;
}

.content-left-fixed .news-item .image {
    float: left;
    width: 500px;
    height: 350px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.content-left-fixed .news-item .information {
    float: right;
    position: relative;
    width: 350px;
    padding: 32px;
    height: 350px;
}

.content-left-fixed .news-item .information .title {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    margin-bottom: 20px;
    font-weight: bold;
}

.content-left-fixed .news-item .information .short {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    margin-bottom: 20px;
    color: #373737;
}

.content-left-fixed .news-item .information .short.item-date {
    color: #93A0A9;
    margin-bottom: 0;
    position: absolute;
    bottom: 72px;
    left: 32px;
}

.content-left-fixed .news-item .information a.short.read-more {
    font-weight: bold;
    color: #007BFF;
    text-align: left;
    display: block;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
    position: absolute;
    bottom: 32px;
    left: 32px;
    margin-bottom: 0;
}

.content-left-fixed .news-item .information a.short.read-more:hover {
    color: #3195FF;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.cabinet-menu .wrapper {
    background-color: #fff;
    min-height: 166px;
}

.cabinet-menu .menu-link {
    text-align: left;
    color: #93A0A9;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 14px;
}

.cabinet-menu .icon {
    height: 40px;
    width: 40px;
    float: left;
    margin-right: 16px;
    background-color: #E4E9EC;
    border-radius: 20px;
    position: relative;
}

.cabinet-menu .icon .new-count {
    position: absolute;
    right: -7px;
    top: -5px;
    line-height: 20px;
    height: 20px;
    width: 20px;
    background-color: #FF6B00;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-size: 12px;
}

.news-item.small {
    width: 400px;
    float: left;
    margin-right: 50px;
}

.news-item.small:nth-child(2n + 1) {
    margin-right: 0;
}

.content-left-fixed .news-item.small .image {
    float: none;
    max-width: 400px;
    max-height: 280px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
}

.content-left-fixed .news-item.small .information {
    float: none;
    display: block;
    position: relative;
    width: 100%;
    min-height: 375px;
}

.cabinet-menu .profile-info {
    text-align: left;
    margin-bottom: 20px;
    padding-left: 56px;
}

.cabinet-menu .profile-info img {
    height: 120px;
    width: 120px;
    display: block;
    margin-bottom: 20px;
    border-radius: 60px;
}

.sidebar-right-fixed-bottom-big {
    top: -90px;
}

.content-left-fixed .tasks-item {
    border-radius: 10px;
    box-shadow: 0 3px 15px 0 rgba(0, 60, 125, 0.15);
    margin-bottom: 52px;
}

.content-left-fixed .tasks-item .image {
    float: left;
    width: 220px;
    height: 335px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.content-left-fixed .tasks-item .information {
    float: right;
    width: 620px;
    padding: 32px;
    height: 335px;
}

.content-left-fixed .tasks-item .information .title {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    margin-bottom: 20px;
    font-weight: bold;
}

.content-left-fixed .tasks-item .information .short {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    margin-bottom: 20px;
    color: #373737;
}

.content-left-fixed .tasks-item .information .short.item-date {
    color: #93A0A9;
    margin-bottom: 40px;
}

.content-left-fixed .tasks-item .information a.short.read-more {
    font-weight: bold;
    color: #007BFF;
    text-align: left;
    display: block;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.read-news {
    float: left;
    font-size: 12px;
    padding: 7px;
    background-color: #007BFF;
    margin-bottom: 30px;
}

.read-news:hover {
    background-color: #3195FF !important;
}

.read-news i {
    margin-right: 5px;
}

.helpers-header {
    display: block;
    margin-bottom: 40px;
}

#load-more-news {
    padding: 11px;
    font-size: 15px;
    color: #fff;
    background-color: #007BFF;
    border: 2px solid #007BFF;
    border-radius: 5px;
}

#mark-all-news-as-read {
    float: right;
    height: 100%;
    padding: 6px 11px 6px 45px;
    width: 175px;
    font-size: 15px;
    color: #fff;
    background-color: #007BFF;
    border: 2px solid #007BFF;
    border-radius: 5px;
    position: relative;
}

#mark-all-news-as-read:hover, #load-more-news:hover {
    cursor: pointer;
    background-color: #fff;
    color: #007BFF;
}

#mark-all-news-as-read:hover i {
    color: #007BFF;
}

#mark-all-news-as-read i {
    padding: 12px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    line-height: 1;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FF4D00;
}

@media (max-width: 1199px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 992px) {

}

@media (max-width: 991px) {
    .form-control {
        font-size: 16px;
    }

    footer {
        padding-top: 60px;
        padding-bottom: 50px;
        background-color: #F7F9FB;
        position: absolute;
        bottom: 0;
        z-index: 1000;
        float: none;
    }

    .footer-main {
        display: block;
        float: none;
        width: 400px;
        margin: 0 auto;
    }

    footer .rights, footer .socials {
        position: relative;
        height: 100%;
    }

    footer .links-block, footer .social-icon-pack {
        position: static;
        top: 0;
        margin: 0;
        height: 100%;
    }

    footer .links-block a {
        color: #93A0A9;
        font-size: 14px;
        text-align: center;
        margin-right: 15px;
        float: none;
    }

    footer .footer-logo {
        height: 60px;
        margin-top: 0;
        display: block;
    }

    footer .footer-logo img {
        position: static;
        margin: 23px auto 0;
        height: 24px;
        width: 210px;
        display: block;
    }

    footer .rights {
        text-align: center;
        line-height: 40px;
        margin: 0;
    }

    footer .rights, footer .socials {
        position: relative;
        height: 100%;
    }

    footer .social-icon-pack {
        display: block;
        height: 30px;
        width: 160px;
        margin: 0 auto;
    }

    footer .social-icon:first-child {
        margin-right: 0;
        float: left;
        margin-left: 0;
    }

    footer .social-icon {
        height: 15px;
        width: 22px;
        margin-left: 24px;
        float: left;
    }

    footer .footer-rights {
        position: static;
        height: 42px;
    }

    footer .links-block a:last-child {
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .navbar-inverse {
        background-color: rgba(255, 255, 255, 0.5);
    }

    .logos.big {
        display: none;
    }

    #partners.page-block .description {
        margin-bottom: 30px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #302f31;
        background-color: transparent;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        background-color: rgba(255, 255, 255, 0.9);
    }

    .navbar-brand img {
        padding-left: 15px;
    }

    .container > .navbar-header {
        background-color: rgba(255, 255, 255, 0.9);
    }

    .navbar-inverse .navbar-nav > li > a {
        display: block;
        text-align: center;
    }

    .navbar-nav > li > a {
        margin: 0;
        display: inline-block;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #000;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        margin-top: 0;
    }

    .navbar-inverse .navbar-nav li.login a {
        margin: 0 16px 9px;
    }

    .navbar-brand img {
        height: 29px;
    }
}

@media (min-width: 768px) {
    .navbar-inverse .navbar-nav li:last-child a {
        padding-right: 17px;
        position: relative;
    }
}

@media (max-width: 636px) {

}

@media (min-width: 637px) {

}

@media (max-width: 624px) {

}

::-moz-selection {
    color: #fff;
    background: rgb(233, 65, 77);
}

::selection {
    color: #fff;
    background: rgb(233, 65, 77);
}