.field-addschoolform-city_id, #add-new-city.hidden-link, .create-new-city-form {
    display: none;
}

#add-new-city:focus {
    color: #007BFF;
}

.create-new-city-form .info {
    margin-bottom: 10px;
    text-align: left;
    font-size: 13px;
    line-height: 18px;
    margin-top: 5px;
}

#add-new-city {
    display: block;
    margin-bottom: 15px;
    text-align: left;
}

.edit-form .field-addschoolform-city_id, .edit-form #add-new-city.hidden-link {
    display: block;
}